<div id="background"></div>
<div id="main" class="palm-hasheader">
<div class="palm-header" style="z-index:0">
	<div class="title">Sent SMS</div>
</div>

<div class="palm-list">
	<div class="palm-row first">
		<div class="palm-row-wrapper">
			<div class="label left rowname">To:</div>
			<div class="title" id="to">
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div class="label left rowname">Message:</div>
			<div class="title" id="text"></div>
		</div>
	</div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
			<div class="label left rowname">Sent:</div>
			<div class="title" id="date"></div>
		</div>
	</div>
</div>
