<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title">
			<div class="icon"></div>
			Preferences
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">SMS Options</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper">
				<div id="flashSmsCheckbox" x-mojo-element="CheckBox"></div>
				<div class="title">Flash SMS</div>
			</div>
		</div>
		<div class="palm-row single">
			<div class="palm-row-wrapper">
				<div id="confirmSmsCheckbox" x-mojo-element="CheckBox"></div>
				<div class="title">Confirmation</div>
			</div>
		</div>

	</div>
</div>

