<div id="background"></div>
<div class="palm-header">
	Login
</div>
<div class="palm-header-spacer">
</div>
<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div class="label" style="margin:0px">Username</div>
					<div id="username" x-mojo-element="TextField">
					</div>
				</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div class="label" style="margin:0px">Password</div>
					<div id="password" x-mojo-element="PasswordField">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-inline-error" style="display:none" id="errorPanel">
	<div class="error-message">Login failed.<br/>
		<div id="helpButton" x-mojo-element="Button"></div>
	</div>
</div>
<div id="loginButton" x-mojo-element="Button">
</div>
<div id="anonButton" x-mojo-element="Button">
</div>
